---
import { Image } from "@astrojs/image/components";

import Layout from "../layouts/Layout.astro";
import cekotoImage from "../../assets/cekoto.webp";
import notulenImage from "../../assets/notulen.webp";
import profileImage from "../../assets/profile.png";
import linkedinImage from "../../assets/linkedin.png";
import githubImage from "../../assets/github.png";
import stackoverflowImage from "../../assets/stackoverflow.png";
import mediumImage from "../../assets/medium.png";
---

<Layout title="Arif Hidayat | Resume">
	<main>
		<div class:list={["grid", "justify-items-center"]}>
			<Image
				width={128}
				src={profileImage}
				alt="Profile Thumbnail"
				class:list={["rounded-full"]}
			/>
			<br />
			<h1 class:list={["text-2xl", "font-semibold"]}>Arif Hidayat</h1>
		</div>
		<br />
		<div class:list={["flex", "gap-x-4", "justify-center"]}>
			<a
				href="https://www.linkedin.com/in/arifhidayat95/"
				target="_blank"
			>
				<Image
					src={linkedinImage}
					alt="Arif Hidayat's Linked Profile"
					width={32}
				/>
			</a>
			<a href="https://github.com/rizentium" target="_blank">
				<Image
					src={githubImage}
					alt="Arif Hidayat's Github Profile"
					width={32}
				/>
			</a>
			<a
				href="https://stackoverflow.com/users/10576760/rize"
				target="_blank"
			>
				<Image
					src={stackoverflowImage}
					alt="Arif Hidayat's Stack Overflow Profile"
					width={32}
				/>
			</a>
			<a href="https://medium.com/@af.hidayat" target="_blank">
				<Image
					src={mediumImage}
					alt="Arif Hidayat's Medium Profile"
					width={32}
				/>
			</a>
		</div>
		<br />
		<p class:list={["border", "rounded-lg", "p-4", "bg-white", "my-4"]}>
			With over 5 years of experience in Software Development, I have
			contributed to projects from their inception to the production
			phase. Presently, my primary focus lies as a Flutter Software
			Engineer, and I am well-versed in the Clean Code Architecture
			Philosophy.
		</p>
		<div class:list={["border", "rounded-lg", "p-4", "bg-white", "my-4"]}>
			<p class:list={["font-semibold", "mb-2"]}>Personal Projects</p>
			<a
				href="https://play.google.com/store/apps/details?id=com.illustrationfix.cekpkbriau&hl=en&gl=US"
				target="_blank"
				class:list={[
					"flex",
					"gap-x-2",
					"rounded-md",
					"p-2",
					"hover:bg-gray-200",
					"cursor-pointer",
					"transition-colors",
					"duration-250",
				]}
			>
				<div>
					<Image
						class:list={["rounded-full", "border"]}
						src={cekotoImage}
						alt="Cekoto Logo Thumbnail"
						height={52}
						width={52}
					/>
				</div>
				<div>
					<p class:list={"font-semibold"}>Cekoto</p>
					<p>Automotive Daily Application</p>
				</div>
			</a>
			<a
				href="https://play.google.com/store/apps/details?id=com.rizentium.notulen&hl=en&gl=US"
				target="_blank"
				class:list={[
					"flex",
					"gap-x-2",
					"rounded-md",
					"p-2",
					"hover:bg-gray-200",
					"cursor-pointer",
					"transition-colors",
					"duration-250",
				]}
			>
				<div>
					<Image
						class:list={["rounded-full", "border"]}
						src={notulenImage}
						alt="Cekoto Logo Thumbnail"
						height={52}
						width={52}
					/>
				</div>
				<div>
					<p class:list={"font-semibold"}>Notulen</p>
					<p>Daily Note Application</p>
				</div>
			</a>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
